<h1 mat-dialog-title>Details</h1>

<div mat-dialog-content>
  <div class="mb-2"><span class="font-semibold">{{DocumentTitle}}</span></div>
  <table class="table">
    <thead class="text-gray-700 uppercase bg-[#c7d0e0] text-left">
      <tr>
        <th>#</th>
        <th>Title</th>
      </tr>
    </thead>
  
    <tbody *ngFor="let item of document_list; let i = index"> 
      <tr class="text-left">
        <td>{{ i + 1 }}</td>
        <td class="flex items-center justify-between text-left">
          <span>{{ item?.title }} </span>          
          <!-- <button class="btn bg-primary-800 text-white" (click)="redirectToPage(SelectedTitle, item.title,selectedid,i)">View</button> -->

          <button (click)="redirectToPage(SelectedTitle, item.title,selectedid,i)" class="flex items-center gap-1 px-2 h-[28px] rounded-[6px] bg-gradient-to-l from-cyan-500 to-blue-500 hover:bg-gradient-to-l text-white">                       
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" fill="currentcolor" class="w-4 h-4">
              <path d="M64 464c-8.8 0-16-7.2-16-16L48 64c0-8.8 7.2-16 16-16l160 0 0 80c0 17.7 14.3 32 32 32l80 0 0 288c0 8.8-7.2 16-16 16L64 464zM64 0C28.7 0 0 28.7 0 64L0 448c0 35.3 28.7 64 64 64l256 0c35.3 0 64-28.7 64-64l0-293.5c0-17-6.7-33.3-18.7-45.3L274.7 18.7C262.7 6.7 246.5 0 229.5 0L64 0zm97 289c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0L79 303c-9.4 9.4-9.4 24.6 0 33.9l48 48c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-31-31 31-31zM257 255c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l31 31-31 31c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l48-48c9.4-9.4 9.4-24.6 0-33.9l-48-48z"/></svg>
            <span>Indexing</span>
          </button>
        
        </td>
     
        
      </tr>
    </tbody>
  </table> 
</div>

<div mat-dialog-actions class="dialog-actions">
  <button mat-button mat-dialog-close class="h-[36px] px-4 rounded-[6px] bg-red-500 hover:bg-red-600 text-white">Close</button>
</div>