<div class="main-wrapper"    >
  

  <div [ngClass]="pageWrapperClass" [ngStyle]="getPageWrapperStyle()">
    <nav [ngClass]="navclass" *ngIf="isAuthenticated && isNavbarVisible" [ngStyle]="getNavbarStyle()" > 
      <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
          <div class="flex items-center justify-start rtl:justify-end">

            <div class="flex flex-shrink-0 items-center">
              <a href="/data-dashboard"><img src="assets/images/logo.png" alt="Logo" class="h-12 w-auto"></a>
            </div>
            
            <!-- <div class="text-slate-800 text-[18px] font-semibold mr-10 ml-4">Good day, Test123 👋</div> -->
             
            <!-- <div class="flex items-center gap-2 bg_gradient2_bk bg-gradient-to-tl from-teal-400 to-blue-500 text-white px-3 py-1.5 rounded-lg mr-4"> 
              <span>Total Time:</span>
              <span class="text-[14px] font-semibold">05:58</span>
            </div>
            <div class="flex items-center gap-2 bg_gradient2 text-white px-3 py-1.5 rounded-lg"> 
              <span>Today's Image Workflow:</span>
              <span class="text-[14px] font-semibold">14</span>
            </div> -->
            
          </div>
          <div class="flex items-center">
              <div class="flex items-center gap-2 ms-3"> 
                 
                  <!-- <div class="">
                    <button type="button" class="flex items-center gap-1 px-2 h-[28px] rounded-[6px] bg-gradient-to-l from-cyan-500 to-blue-500 hover:bg-gradient-to-l text-white">                       
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" fill="currentcolor" class="w-4 h-4">
                        <path d="M64 464c-8.8 0-16-7.2-16-16L48 64c0-8.8 7.2-16 16-16l160 0 0 80c0 17.7 14.3 32 32 32l80 0 0 288c0 8.8-7.2 16-16 16L64 464zM64 0C28.7 0 0 28.7 0 64L0 448c0 35.3 28.7 64 64 64l256 0c35.3 0 64-28.7 64-64l0-293.5c0-17-6.7-33.3-18.7-45.3L274.7 18.7C262.7 6.7 246.5 0 229.5 0L64 0zm97 289c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0L79 303c-9.4 9.4-9.4 24.6 0 33.9l48 48c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-31-31 31-31zM257 255c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l31 31-31 31c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l48-48c9.4-9.4 9.4-24.6 0-33.9l-48-48z"/></svg>
                      <span>Indexing</span>
                    </button>
                  </div> -->
                  <div class="">                    
                    <button type="button" onclick="window.location.href='/form-configurator'" class="flex items-center gap-1 px-2 h-[28px] rounded-[6px] bg-gradient-to-r from-blue-600 to-violet-600 hover:bg-gradient-to-l text-white">                       
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="currentcolor" class="w-4 h-4">
                        <path d="M64 80c-8.8 0-16 7.2-16 16l0 320c0 8.8 7.2 16 16 16l448 0c8.8 0 16-7.2 16-16l0-320c0-8.8-7.2-16-16-16L64 80zM0 96C0 60.7 28.7 32 64 32l448 0c35.3 0 64 28.7 64 64l0 320c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96zm96 64a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm104 0c0-13.3 10.7-24 24-24l224 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-224 0c-13.3 0-24-10.7-24-24zm0 96c0-13.3 10.7-24 24-24l224 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-224 0c-13.3 0-24-10.7-24-24zm0 96c0-13.3 10.7-24 24-24l224 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-224 0c-13.3 0-24-10.7-24-24zm-72-64a32 32 0 1 1 0-64 32 32 0 1 1 0 64zM96 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/>
                      </svg>
                      <span>Form Configurator</span>
                    </button>
                  </div>

                  <button type="button" class="relative p-1 text-gray-600 hover:text-black focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                    <span class="absolute -inset-1.5"></span>
                    <span class="sr-only">View notifications</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                    </svg>
                  </button>
                  <button type="button" (click)="logout()" class="flex items-center gap-1 relative p-1 text-gray-600 hover:text-black focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" >
                    <!-- <span class="absolute -inset-1.5"></span> -->
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">
                      <path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z"/>
                    </svg>                    
                    <span class="sr-only2 font-semibold">Logout</span>                    
                  </button>
                  <button type="button" class="flex items-center gap-2 text-sm bg-gray-100 rounded-[7px] px-1.5 py-1" aria-expanded="false" data-dropdown-toggle="dropdown-user">                    
                    <img class="w-8 h-8 rounded-full1" src="assets/images/icon.png" alt="user photo">
                    <span class="sr-only_1 font-medium">Fidelity National Financial</span>
                  </button> 
                
              </div>
            </div>
        </div>
      </div>
    </nav>
    <div class="w-full" >      
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


 